body {
  font-family: Karla, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  padding-bottom: 75px;
}
@media (min-width: 768px) {
  body {
    padding-bottom: 110px;
  }
}
.navbar-brand {
  margin-right: 0;
}
.navbar-brand img {
  height: 60px;
}
.navbar-dark {
  padding-top: 20px;
  padding-bottom: 140px;
}
.navbar-dark .navbar-text {
  color: #fff;
  opacity: 1;
  padding: 0 20px;
  border-right: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.navbar-dark .navbar-text:last-child {
  border-right: 0;
}
@media (max-width: 767px) {
  .navbar-dark {
    padding-bottom: 0;
  }
}
.page-title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 35px;
    margin-bottom: 14px;
  }
}
.page-description {
  max-width: 465px;
  font-size: 18px;
  margin-bottom: 59px;
}
@media (max-width: 767px) {
  .page-description {
    font-size: 14px;
  }
}
p {
  font-size: 14px;
  margin-bottom: 20px;
}

.delivery {
  max-height: 800px;
  max-width: 800px;
}

.svgCornerTL {
  position: absolute;

  top: -45px;

  right: -5px;
}

.svgConerTL {
  display: none;
}

.svgCorner {
  height: 500px;
  width: 100%;
}
svg#freepik_stories-medicine:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-medicine.animated #freepik--background-complete--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-medicine.animated #freepik--Shadow--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-medicine.animated #freepik--Box--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-medicine.animated #el3l1c9jlu9r6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-medicine.animated #elbgyb2nw2ky {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.023s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elxm87r7w7ph {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.047s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #eln7zy833fxks {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.071s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el3v9p1cwgl6f {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.095s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elmqkiju7t0d7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.11904761904761904s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elq142t2l8djn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.14285714285714285s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elv07b50qiwjc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el1fu92a9e03t {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.19047619047619047s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el1urwz8sk5vm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.21428571428571427s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elvatagr9ek2s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.23809523809523808s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elzizmde3hoy {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.26190476190476186s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el0m7dvyo35eks {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2857142857142857s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elugjdgs99p4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.309s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elgp9u8bre6u {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #eluq3kb1xm5u {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3571428571428571s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elu34sqowv1xf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.38s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elh4t4hzn9tbc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.40476190476190477s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el4y6b5lpk0y6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.42857142857142855s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el39fpx6153vt {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.45238095238095233s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el6cw5edbtql4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.47619047619047616s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elf5it2i34aai {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el7xozi7tdj7e {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5238095238095237s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elbqrob8q3dcb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5476190476190476s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el1lp287mpixy {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5714285714285714s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el2h67lq1llcb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5952380952380952s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #eleth6hlwgwq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.619s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el719u9wyvorg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6428571428571428s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elq8e2tidq01n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elhumn53hdxrt {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6904761904761905s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elcy59hxqjfyk {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7142857142857142s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elq15f6j870hb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.738095238095238s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el14u4vluvdcl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7619047619047619s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #ely5whu4f8xpk {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7857142857142857s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #ell7wswxy5ze {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8095238095238095s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elekxl41ha37u {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8333333333333333s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el6sphg3oo01 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8571428571428571s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #el8r5dcf6uq87 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.88s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #eltkv444b9yzs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9047619047619047s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elaeo6lj4zxh6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9285714285714285s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elakuinstl2ll {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9523809523809523s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #elpwm8ktjixip {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9761904761904762s;
  opacity: 0;
}
svg#freepik_stories-medicine.animated #freepik--Character--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
nav {
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  height: 250px;
}
nav ul {
  position: absolute;
  top: 0;
  width: 100%;
}
nav li {
  display: inline;
}
dl,
ol,
ul {
  list-style: none;
}
.highlighted {
  background-color: #f0b27a;
}
.imp {
  background-color: #76d7c4;
}
.greetings {
  background-color: #f9e79f;
}
.vaccined {
  width: 40px;
  height: 40px;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.vac {
  background-color: #e59866;
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.tag {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #000;
}

/*Change .svgCornerTL too Desktop 
then just chnage the hright and width 
for the mobile phone and tablet form*/

@media screen and (max-width: 768px) {
  .svgCornerTL {
    visibility: hidden;
  }
  svg {
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
  }
  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 414px) {
  .svgCornerTL {
    visibility: hidden;
  }
  svg {
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
  }
  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;

}

@media screen and (max-width: 375px) {
  .svgCornerTL {
    visibility: hidden;
  }
  svg {
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
  }
  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 412px) {
  .svgCornerTL {
    visibility: hidden;
  }
  svg {
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
  }
  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img {
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }

}
